* {
  font-family: "Cascadia Code";
}

window#waybar {
  background: #131721;
}

#workspaces {
  font-size: 11px;
}

button {
  color: white;
  border: none;
  background: transparent;
  box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0;
}
button.focused {
  background: #1e222a;
}

#tray,
#wireplumber,
#battery,
#cpu,
#memory,
#network,
#disk {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 5px;
  border-right: 1px solid #565b66;
  color: #ffb454;
}
#clock {
  font-size: 11px;
  margin-right: 5px;
  padding-right: 5px;
  margin-left: 0;
  padding-left: 0;
  color: #ffb454;
}

